--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1
torchvision==0.20.1
numpy==1.26.4
trimesh
einops
huggingface_hub
imageio
opencv-python==4.11.0.86
open3d
requests
typer
pillow
antlr4-python3-runtime==4.9.2
omegaconf<2.4
e3nn
moviepy==1.0.3
plyfile
pillow_heif
safetensors
addict
pycolmap
